@font-face {
    font-family: 'Manrope';
    src: url(fonts/manrope/manrope/Manrope-VariableFont_wght.ttf);
}

html {
    font-family: 'Manrope', sans-serif;
    font-size: 1.25rem;

    color: #020A0A;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
}

.modal {
    $base-color: white;
    $base-grey: #F6F7F8;
    $text-base: #020A0A;
    $text-grey: #787878;
    $text-red: #DE341D;
    $modal-radious: 25px;
    width: min(933px, 100%);
    height: min(587px, 100%);
    padding: min(32px, 5%);
    background-color: $base-color;
    border-color: $base-color;
    border-width: 0;

    border-radius: $modal-radious;
    -webkit-border-radius: $modal-radious;
    -moz-border-radius: $modal-radious;
    -ms-border-radius: $modal-radious;
    -o-border-radius: $modal-radious;

    .btn_animetion_dark {
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .btn_animetion_dark:hover {
        cursor: pointer;
        filter: brightness(85%);
        -webkit-filter: brightness(85%);

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .btn_animetion_dark:active {
        outline: 0.2rem solid $text-base;

        transition: all 0s;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
    }
    .btn_animetion_dark:active:hover {
        outline: 0.2rem solid $text-base;

        transition: all 0s;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
}

    .btn_animetion_dark[disabled] {
        filter: brightness(100%);

        path {
            fill: rgba(2, 10, 10, 0.3);
        }
    }

    .btn_animetion_light:hover {
        filter: brightness(125%);
        -webkit-filter: brightness(125%);

        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
    }

    .modal-close-button {
        @extend .btn_animetion_dark;
        position: relative;
        top: 0px;
        left: 96%;
        border-width: 0;
        border-radius: 10em;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        -ms-border-radius: 10em;
        -o-border-radius: 10em;
    }

    .wrapper {
        @media screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: 4fr 5fr;
            grid-template-areas:
                'img head'
                'img sauce-options'
                'table sauce-options'
                'table order-total';

            column-gap: 32px;
        }

        .top {
            margin-bottom: 24px;

            h3 {
                margin-top: 8px;
                margin-bottom: 8px;
            }

            .weight {
                color: $text-grey;
                margin-top: 8px;
            }
        }


        img {
            grid-area: img;
            width: 348px;
            height: 298px;
            display: block;
            object-fit: cover;

            border-radius: $modal-radious;
            -webkit-border-radius: $modal-radious;
            -moz-border-radius: $modal-radious;
            -ms-border-radius: $modal-radious;
            -o-border-radius: $modal-radious;
        }

        table {
            grid-area: table;
            width: max(348px, 100%);
            margin-top: 32px;

            thead {
                width: 100%;

                font-weight: bold;

                th {
                    // width: 100%;
                    text-align: left;
                }
            }

            tbody {
                width: 100%;

                color: $text-grey;

                td {
                    width: 50%;
                }

                td:nth-child(2) {
                    text-align: right;
                }
            }
        }

        .sauce-options {
            grid-area: sauce-options;

            .sauce-options-header {
                display: flex;
                justify-content: space-between;
                gap: 8px;

                margin-top: 24px;
                margin-bottom: 12px;

                font-size: 18px;

                h4 {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                span {
                    font-size: 16px;
                    color: $text-grey;
                }
            }

            .sauce-options-body {
                .sauce-option {
                    display: flex;
                    justify-content: space-between;

                    font-size: 18px;
                    padding: 12px;
                    margin-bottom: 8px;

                    background-color: $base-grey;

                    .sauce-name {
                        margin-right: 8px;
                    }

                    .sauce-price {
                        color: $text-grey;
                    }

                    .sauce-counter {
                        display: flex;
                        justify-content: center;

                        button {
                            @extend .btn_animetion_dark;
                            width: 24px;
                            height: 24px;

                            border: 0;
                            background-color: $base-grey;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        button[disabled]:active {
                            outline: 0 solid $text-base;
                        }
                        button[disabled]:hover {
                            outline: 0 solid $text-base;
                            cursor: auto;
                        }
                        button[disabled]:hover:active {
                            outline: 0 solid $text-base;
                        }

                        span {
                            width: 32px;
                            height: 24px;
                            text-align: center;

                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .order-total {
            grid-area: order-total;
            display: flex;
            justify-content: space-between;
            align-items: center;

            line-height: 44.8px;
            font-size: 32px;
            font-weight: 700;

            margin-top: 20px;

            #add {
                @extend .btn_animetion_dark;
                @extend .btn_animetion_light;
                width: 176px;
                height: 65px;
                border-width: 0;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
                background-color: $text-red;
                color: $base-color;
                font-size: 18px;
            }
        }
    }
}